



@media (max-width: 63.9375em) {
    

    
}




/*Phone*/
@media ( max-width: 399px) { /*46.1875em*/
 .contact{
     display:none;
 }
 h3{
     display: none;
 }
 .containers{
    max-width:360px;
 }
 .logo {
    height: 95px;
    width: 95px;
 }
 .cont-logo{
    width:120px;
    height:120px;
    transform: translateX(50%);
 }
}

@media (min-width: 400px) and (max-width: 420px){
   
   .contact{
      display:none;
  }
  h3{
      display: none;
  }
  .containers{
     max-width:300px;
  }
  .logo {
     height: 95px;
     width: 95px;
  }
   .cont-logo{
      transform: translateX(70%);
   }
}